* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1f2039;

}

a {
  color: #242424;
  text-decoration: none;
}

em {
  color: #126ef0;
  font-style: normal;
}

h1 {
  font-size: 3.4em;
  color: #efb27f;
  font-family: 'Montserrat' sans-serif;

}

h2 {
  color: #f9f8ff;
}

p {
  font-size: 1.1em;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

footer {
  font-family: 'Manrope', sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* obligatoire pour répartir correctement les éléments */
  padding: 0 20px;
  /* petit padding pour éviter que ça touche les bords */
  box-sizing: border-box;
  /* inclut le padding dans la largeur */
}


.footer-content p {
  flex: 1;
  font-size: 0.9em;
  color: #242424;
  text-align: center;
  margin: 10px;
}


.footer-content a {
  color: #126ef0;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-social {

  display: flex;
  gap: 15px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}

.footer-social a:hover {
  opacity: 0.7;
}

.cta {
  display: inline-block;
  background-color: #efb17f00;
  color: #efb27f;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 20px 30px;
  margin-top: 5%;
  margin-left: 25%;
  border-right: 1px solid #efb27f;
  border-bottom: 1px solid #efb27f;

}

a:hover {
  text-decoration: underline;
}

.cta:hover {
  background-color: #cf985e25;
  text-decoration: none;
}

.lien-icone {
  margin-left: 30px;
}

.lien-icone:hover {
  opacity: 0.5;
}


section {
  padding: 80px;
  padding-right: 100px;
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 15px;
}

.accueil-photos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 213, 213);
  height: 200px;
  width: 100%;

}

.accueil-photos h2 {
  color: #242424;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: large;


}

.container-1 {
  background-image: url("https://pub-7419959f05894755bb36f1ce35374c6a.r2.dev/images/index/element-1.jpg");
  height: 600px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 1px 2px 3px 4px rgba(76, 76, 76, 0.5);
}

.container-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(216, 213, 213);
  height: 200px;
  width: 100%;
}

.container-2 h2 {
  color: #242424;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-size: large;

}

.container-3 {
  background-image: url("https://pub-7419959f05894755bb36f1ce35374c6a.r2.dev/images/index/element-4.jpg");
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 1px 2px 3px 4px rgba(76, 76, 76, 0.5);
}


.accueil-introduction {
  display: flex;
  flex-direction: row;
  /* width: 60%; */
  align-items: flex-start;
  margin: auto;
}

.accueil-introduction h1 {
  margin-bottom: 15px;
}

.accueil-introduction p {
  margin-top: 50px;
  margin-bottom: 50px;
}

.accueil-introduction div {
  padding-right: 80px;
}


/* Styles par défaut des éléments pour les garder invisibles avant l'animation */
h1,
h2,
p {
  opacity: 0;
  /* Rendre l'élément invisible */
  transform: translateY(20px);
  /*Position initiale en dehors de la vue */
  transition: opacity 1s, transform 1s;
  /*Appliquer la transition pour une animation fluide */
}

/* Classe pour déclencher l'animation */
.show {
  opacity: 1;
  /*Rendre l'élément visible */
  transform: translateY(0);
  /*Placer l'élément dans sa position finale*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 6px;
  /* adapte à ton margin-top */
  width: 100%;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: white;
  padding: 5px;
  padding-bottom: 10px;
  margin-top: 3px;
  border-radius: 6px;
  box-shadow: 0 8px 10px 2px rgba(0, 0, 0, 0.318);
  white-space: nowrap;
  animation: fadeIn 0.3s ease forwards;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.dropdown-menu li {
  list-style: none;
  width: 100%;
  text-align: center;


}

.dropdown-menu a {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #1d1d1f;
  transition: color 0.5s ease;

  margin-left: 18px;
  margin-right: 18px;

}

.dropdown-menu a:hover {
  color: #efb27f;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(-85%);
  }

  to {
    opacity: 1;
    transform: translateY(0px) translateX(-85%);
  }
}